[user]
	name = Dakota Ruelle
[core]
{{ if (and (eq .chezmoi.os "linux") (eq .name "work-computer-zbook")) }}
  editor = code --wait
{{ else }}
  editor = code --wait
{{ end }}
  autocrlf = input
	
[alias]
  ch = checkout
  nb = checkout -b
  s = status
  A = add --all
  c = commit --message
  sq = commit --amend --no-edit
  amend = commit --amend
  rb = rebase
  rbi = rebase --interactive
  rbc = rebase --continue
  rba = rebase --abort
  stashes = stash list
  pf = push --force-with-lease
[pull]
	rebase = true
[push]
	autoSetupRemote = true