eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
eval "$(oh-my-posh init zsh --config ~/.oh-my-posh.config.json)"

###   Add to PATH   ###
export PATH=$HOME/bin:$PATH
{{ if eq .chezmoi.os "linux" }}
export PATH=$HOME/.nvm/versions/node/v16.14.2/bin/node:$PATH
{{ end }}

### Add ENV variables ###
export NVM_DIR="$HOME/.nvm"

### Setup nvm ###
{{ if eq .chezmoi.os "linux" }}

[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
{{ end }}

### Aliases ###
{{ if eq .chezmoi.os "linux" }}
{{ if eq .chezmoi.osRelease.name "Ubuntu" }}
alias list-packages="apt list --installed"
alias list-package-sources="ls /etc/apt/sources.list.d"
alias dark-mode="gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
alias light-mode="gsettings set org.gnome.desktop.interface color-scheme 'prefer-light'"
alias git-urb="git checkout master && git pull && git checkout - && git rebase master"
alias git-urbi="git checkout master && git pull && git checkout - && git rebase --interactive master"
{{ end }}
{{ end }}

{{ if eq .name "work-computer" }}
[[ -f ~/.zshrc-work ]] && . ~/.zshrc-work
{{ end }}

### Register zsh completions ###
mkdir -p ${ZDOTDIR:-~}/.zsh_functions
fpath+=${ZDOTDIR:-~}/.zsh_functions
