#
# ~/.bashrc
#

eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
eval "$(oh-my-posh init bash --config ~/.oh-my-posh.config.json)"

# Source aliases between shells
. ~/.common-bash-aliases

# Source any local machine commands/setup
[[ -f ~/.bashrc-local-setup ]] && . ~/.bashrc-local-setup

