Write-Host
Write-Host "Update packages (y/n)?"
$confirmation = [System.Console]::ReadKey($true).KeyChar
Write-Host  # Move to a new line after input

if ($confirmation -match '^[Yy]$') {
    Write-Host "`n`n   ---Updating all winget packages---   `n`n"

    winget upgrade --all
}