{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

### Gnome things ###
{{ if eq .chezmoi.osRelease.name "Ubuntu" -}}

gsettings set org.gnome.nautilus.preferences show-hidden-files true

{{ end -}}

## Run any local machine updates
if [ -f ~/local-chezmoi-update.sh ]; then
    . ~/local-chezmoi-update.sh
fi

echo
read -p "Update packages (y/n)? " -n 1 -r
echo    # (optional) move to a new line

if [[ $REPLY =~ ^[Yy]$ ]]
then
    {{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
    printf "\n\n   ---Updating all apt packages---   \n\n"
    sudo apt update
    sudo apt upgrade -y
    sudo apt autoremove -y
    {{ end -}}

    {{ if not (contains "WSL2" .chezmoi.kernel.osrelease) -}}
    printf "\n\n   ---Updating all snap packages---   \n\n"
    sudo snap refresh
    {{ end -}}

    printf "\n\n   ---Updating all homebrew packages---   \n\n"
    brew update
    brew upgrade
fi

{{ end -}}