[Desktop Entry]
Name=WebStorm 2023.1
Icon=/home/dakota/.icons/MyIcons/apps/scalable/webstorm.svg
StartupWMClass=jetbrains-webstorm
Comment=A JavaScript IDE
Exec="/home/dakota/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/231.8109.174/bin/webstorm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true
