[Desktop Entry]
Name=Rider 2025.2
Exec="/home/dakota/.local/share/JetBrains/Toolbox/apps/rider/bin/rider" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=rider
Comment=A cross-platform .NET IDE
StartupWMClass=jetbrains-rider
StartupNotify=true