[Desktop Entry]
Name=WebStorm 2023.2
Icon=jetbrains-webstorm
StartupWMClass=jetbrains-webstorm
Comment=A JavaScript IDE
Exec="/home/dakota/.local/share/JetBrains/Toolbox/apps/WebStorm/ch-0/232.8660.143/bin/webstorm.sh" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
StartupNotify=true