[Desktop Entry]
Name=WebStorm 2024.3.4
Exec="/home/dakota/.local/share/JetBrains/Toolbox/apps/webstorm/bin/webstorm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=jetbrains-webstorm
Comment=A JavaScript and TypeScript IDE
StartupWMClass=jetbrains-webstorm
StartupNotify=true
