[Desktop Entry]
Name=DataGrip 2025.1.3
Exec="/home/dakota/.local/share/JetBrains/Toolbox/apps/datagrip/bin/datagrip" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=jetbrains-datagrip
Comment=The IDE for databases and SQL
StartupWMClass=jetbrains-datagrip
StartupNotify=true