[Desktop Entry]
Name=WebStorm 2025.3.1.1
Exec="/home/dakota/.local/share/JetBrains/Toolbox/apps/webstorm-2/bin/webstorm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=jetbrains-webstorm
Comment=A JavaScript and TypeScript IDE
StartupWMClass=jetbrains-webstorm
StartupNotify=true